@import '../../mixins';

.commitGraph-filter-text-box {
  position: relative;
  flex-grow: 1;
  display: flex;

  .commitGraph-filter-text-box-backdrop {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: calc(18px + var(--spacing-half) + 1px);
    right: var(--spacing-half);
    font-size: var(--font-size);
    font-family: var(--font-family-sans-serif);
    line-height: var(--text-field-height);
    white-space: pre;
    overflow: hidden;
    pointer-events: none;

    .token-value {
      color: var(--md-accent-fg-color);
      background-color: var(--co-author-tag-background-color);
      border-radius: var(--outlined-border-radius);
    }
    .token-value-invalid {
      color: var(--file-warning-color);
      background-color: var(--file-warning-background-color);
      border-radius: var(--outlined-border-radius);
    }
  }

  &.with-clear-button .commitGraph-filter-text-box-backdrop {
    right: calc(16px + var(--spacing-half) + 1px);
  }

  .text-box-component input {
    position: relative;
    z-index: 1;
    color: transparent;
    caret-color: var(--text-color);
    background: transparent;
  }

  .commitGraph-filter-autocomplete {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    z-index: 10;
    width: 300px;
    overflow: hidden;
    background-color: var(--box-background-color);
    border: 1px solid var(--box-border-color);
    border-radius: var(--border-radius);
    box-shadow: var(--base-box-shadow);
    color: var(--text-color);

    .commitGraph-filter-autocomplete-item {
      display: flex;
      align-items: center;
      height: 29px;
      padding: 0 var(--spacing);

      & + .commitGraph-filter-autocomplete-item {
        border-top: var(--base-border);
      }

      .name {
        @include ellipsis;
        font-weight: var(--font-weight-semibold);
      }

      .email {
        @include ellipsis;
        margin-left: auto;
        padding-left: var(--spacing);
        color: var(--text-secondary-color);
      }

      &.selected {
        color: var(--box-selected-active-text-color);
        background-color: var(--box-selected-active-background-color);

        .email {
          color: var(--box-selected-active-text-color);
        }

        & + .commitGraph-filter-autocomplete-item {
          border-top-color: var(--box-selected-active-background-color);
        }
      }
    }
  }
}
